body {
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
  display: Flex;
  height: 100vh;
}
* {
  color: rgb(255, 255, 255);
}
.aside-section {
  border: 1px solid white;
  display: grid;
  width: 400px;
  grid-template-rows: 40px 30px 1fr 20px;
  padding: 10px;
  gap: 25px;
  
}

.my-notes-text {
  display: flex;
  margin: 0px;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
}
.note-list {
  flex: 1;
  overflow-y: auto;
 overflow-x: none;
 border: 1px solid white;

}
.note-list::-webkit-scrollbar {
  display: none;
}

.note-item {
  border: 1px solid #333;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.note-item.active {
  background-color: #333;
  height: 20px;
}

.note-item h1 {
  font-size: 0.8rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}
.icon-pin {
  color: rgb(250, 0, 0);
  position: absolute;
  right: 0;
  bottom: 50%;
}

.my-notes-text {
  font-weight: bold;
  font-size: 29px;
  flex-shrink: 0;
  width: 120px;
}

.input {
  color: black;
  display: flex;
  align-self: center;
  justify-self: center;
  Width: 99%;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  margin-left: 1px;
}
.input::placeholder {
  padding-left: 1px;

}

.add-button {
  width: 100px;
  display: flex;
  justify-self: center;
  background: rgb(19, 128, 61);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: arial;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.note-list {
  display: grid;
}

.main-section {
 
  left: 26.5%;
  border: 1px solid white;
  right: 0px;
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr 30px;
  gap: 40px;
  width: 100%;
}

.header-section {
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 10px;
  margin-top: 50px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.title-notes {
  width: 700px;
  padding: 10px;
  border-radius: 1px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
 font-size: 20px;
 font-family: arial;
}

.title-notes::placeholder {
  color: white;
  font-family: arial;
  font-size: 20px;
 
} 

.pin-btn {
  background: orange;
  border: none;
  border-radius: 3px;
  font-family: arial;
  font-weight: bold;
  width: 50px;
  height: 30px
}

.texting-area {
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
}
.textarea {
  background: black;
  outline: none;
  display: flex;
  width: 100%;
  padding-left: 30px;
  padding-right: 80px;
  padding-top: 30px;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-bottom: 40px;

}
.delete-btn {
  background: red;
  border: none;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}
.edit {
  font-family: arial;
}

.delete-confirm {
  display: none;
  pointer-events: none;
  
}

.delete-confirm.active {
  position: absolute;
  left: 20%;
  top: 20%;
  display: flex;
  background: rgb(59, 58, 58);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 200px;
  pointer-events: auto;
  cursor: pointer;
}
.modal-delete {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: arial;
  
}
h1 {
  display: flex;
  justify-self: center;
  margin: 0px;
  font-family: arial;
}
.sure-text {
  margin: 0px;
  margin-top: 10px;
  font-family: arial;
}


.btn-section {
  display: flex;
  gap: 10px;
}

.cancel-btn {
  background: gray;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
.remove-btn {
  background: red;
  border: none;
  border-radius: 5px;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;
}

