body {
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
}
* {
  color: rgb(255, 255, 255);
}
.aside-section {
  border: 1px solid white;
  display: grid;
  width: 400px;
  position: fixed;
  bottom: 0;
  top: 0;
  grid-template-rows: 40px 30px 1fr 20px;
  padding: 10px;
  gap: 25px;
  
}

.my-notes-text {
  display: flex;
  margin: 0px;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
}
.note-list {
  border: 1px solid white;
  width: 100%;
}

.my-notes-text {
  font-weight: bold;
  font-size: 29px;
}

.input {
  color: black;
  display: flex;
  align-self: center;
  justify-self: center;
  Width: 99%;
  height: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  margin-left: 1px;
}
.input::placeholder {
  padding-left: 1px;

}

.add-button {
  width: 100px;
  display: flex;
  justify-self: center;
  background: rgb(19, 128, 61);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: arial;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.note-list {
  display: grid;
}

.main-section {
  position: fixed;
  left: 27%;
}
